langchain
langchain-groq
dotenv
langchain-google-genai
langchain-anthropic
streamlit
langchain.agent
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
langchain-chroma
pydantic
